body {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 80px;
}

.borders {
    border-left: 1px solid #ddd;
    margin: -20px;
    height: 750px;
    left: 20px;

}
